/* *                  * */
/* *    made by       * */
/* *     Tazio        * */
/* *                  * */


/* * Base * */
html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    /* max-height: 100vh; */
}

a {
    color: darkviolet;
    text-decoration: none;
    border-bottom: 1px dashed darkviolet;
}

*::selection {
    background-color: darkviolet;
    color: white;
}



/* * Header * */
header {
    background-image: url(./img/foto1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

header img {
    margin-left: 133px;
    margin-top: 100px;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 35%;
    font-size: 75px;
    font-weight: normal;
    margin: 0;
    animation: linear 30s rotate infinite;
}

header h3 {
    text-transform: lowercase;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: calc(42% + 12px);
    animation: linear 15s rotate reverse infinite;

}


/* * About * */
main {
    margin-top: 100px;
}

#about {
    width: 40%;
    margin-left: 25%;
    margin-bottom: 50px;
}

/* * Skill * */
#skill {
    pointer-events: none;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 50px;
}

#skill .card {
    pointer-events: auto;
    flex: 25%;
    max-width: calc(25% - 32px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 2px solid black;
    background-color: white;
    height: 500px;
    transition: 0.3s;
    border-radius: 5px;
}

#skill .card:hover .title {
    color: darkviolet;
}

#skill .card:last-of-type {
    margin-right: 0;
}

#skill:hover .card:hover {
    border: 2px dashed darkviolet;
    transform: scale(1.2, 1.2);
    z-index: 3;
}

/* * Social media * */
#socialmedia {
    margin: 100px auto;
    width: calc(80px*6 - 8px);
}

#socialmedia a {
    border: none;
    text-align: center;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
    transition: 0.5s;
}

#socialmedia a:hover {
    background-color: darkviolet;
}

#socialmedia a:last-of-type {
    margin-right: 0;
}


/* * Footer * */
footer {
    width: 100%;
    height: 10vh;
    pointer-events: none;
    background: rgb(114, 0, 163);
    background: linear-gradient(54deg, rgba(114, 0, 163, 1) 0%, rgba(148, 0, 211, 1) 55%, rgba(167, 0, 238, 1) 100%);
}

footer p {
    text-align: center;
    line-height: 10vh;
    color: white;
    transition: 0.5s;
}

footer p::selection {
    background-color: transparent;
}

/* * Special stuff * */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes up-down {
     0%,
   100% { transform: translate(0, 0) }
    50% { transform: translate(0, 10px) }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes rotate {
    0% { transform: rotateZ(0deg) }
    100% { transform: rotateZ(360deg) }
}